@font-face {
  font-family: 'Lina Sans';
  font-weight: 400;
  /* Regular */
  src: url('./fonts/LinaSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Lina Sans';
  font-weight: 300;
  /* Extra Light */
  src: url('./fonts/LinaSans-ExtraLight.otf') format('opentype');
}

@font-face {
  font-family: 'Lina Sans';
  font-weight: 200;
  /* Light */
  src: url('./fonts/LinaSans-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Lina Sans';
  font-weight: 500;
  /* Medium */
  src: url('./fonts/LinaSans-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Lina Sans';
  font-weight: 600;
  /* Semi Bold */
  src: url('./fonts/LinaSans-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Lina Sans';
  font-weight: 100;
  /* Thin */
  src: url('./fonts/LinaSans-Thin.otf') format('opentype');
}

body {
  margin: 0;
  font-family: Lina Sans;
  font-feature-settings: 'liga' off, 'clig' off;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5FAF5;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 70px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}