.pageHeader {
    padding: 24px 0;
    background: rgba(205, 240, 208, 0.50);
    color: #005D45;
    font-size: 18px;
}

.pageHeader p {
    display: flex;
    gap: 7px;
}

.pageHeader a {
    color: #005D45;
    text-decoration: none;
    transition: 0.3s;
}

.pageHeader a:hover {
    scale: 1.05;
}

.pageHeader span {
    color: #506660;
}

.pageHeader .head {
    color: #005D45;
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.pageHeader .head::before {
    content: '';
    width: 8px;
    height: 44px;
    border-radius: 100px 0px 0px 100px;
    background: #46C752;
}

.blogLanding {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}

.blogHeader {
    color: #005D45;
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
    margin-top: 60px;
}

.blogDetails {
    color: #668079;
    font-size: 12px;
    margin-bottom: 30px;
}

.blogDetails>div {
    display: flex;
    align-items: center;
    gap: 7px;
}

.blogIcon {
    display: inline-block;
    width: 12px;
    fill: #668079;
}