.pageHeader {
    padding: 24px 0;
    background: rgba(205, 240, 208, 0.5);
    color: #005d45;
    font-size: 18px;
}

.pageHeader p {
    display: flex;
    gap: 7px;
}

.pageHeader a {
    color: #005d45;
    text-decoration: none;
}

.pageHeader a:hover {
    text-decoration: underline;
}

.pageHeader span {
    color: #506660;
}

.pageHeader .head {
    color: #005d45;
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.pageHeader .head::before {
    content: "";
    width: 8px;
    height: 44px;
    border-radius: 100px 0px 0px 100px;
    background: #46c752;
}

.blogLanding {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}

.blogHeader {
    color: #005d45;
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
    margin-top: 60px;
}

.blogDetails {
    color: #668079;
    font-size: 1.125rem;
    margin-bottom: 30px;
}

.detailsArrange {
    display: flex;
    align-items: center;
    gap: 7px;
}

.detailsArrange > span {
    display: flex;
    align-items: center;
    gap: 7px;
}

.blogIcon {
    display: inline-block;
    width: 16px;
    fill: #668079;
}

/* Latest blogs */
.latestBlogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    color: #668079;
    fill: #668079;
    margin-top: 30px;
}

.blogLink {
    text-decoration: none;
    color: inherit;
}

.showMore {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #005d45;
    font-weight: 400;
    line-height: 130%;
    font-size: 34px;
    align-items: center;
}

.showMore:hover svg {
    transform: translateX(-5px);
}

.blogCard {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
    cursor: pointer;
    height: 100%;
}

.cardText {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.blogCard:hover .blogTitle,
.blogCard:hover .blogContent {
    text-decoration: underline;
}

.blogImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.blogTitle {
    font-size: 32px;
    font-weight: 600;
    color: #005d45;
    line-height: 150%;
    margin: 0.5rem 0;
}

.blogContent {
    font-size: 18px;
    color: #668079;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 25px 0;
    flex: 1;
}

.blogDate,
.blogLocation {
    font-size: 0.85rem;
    color: #777;
    margin: 0.25rem 0;
}
.blogContentHtml {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    line-height: 30px;
}

@media (width<992px) {
    .latestBlogs {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width<769px) {
    .latestBlogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .showMore {
        display: none;
    }
}
