.header {
    margin-bottom: 20px;
    margin-top: 80px;
    font-size: 3rem;
    color: #005D45;
    font-weight: 600;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Space between cards */
}

.card {
    cursor: pointer;
    transition: transform 0.3s, width 0.3s;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.active {
    width: 60%;
    /* Active card width */
}

.inactive {
    width: 20%;
    /* Inactive card width */
}

.cardImage {
    object-fit: cover;
    width: 100%;
    transition: 0.3s;
    height: 388px;
}

.inactive .cardImage {
    object-fit: cover;
}

.cardGadgets {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.location {
    color: #668079;
    display: flex;
    align-items: center;
}

.keywords {
    display: flex;
    gap: 10px;
}

.keyword {
    display: inline-block;
    color: #005D45;
    background-color: hsla(125, 54%, 87%, 0.5);
    border-radius: 100px;
    padding: 10px 15px;
}

.cardText {
    margin-top: 10px;
    font-size: 1rem;
    color: #668079;
    padding: 20px;
    font-size: 18px;
}

.cardText::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #668079;
    margin-top: 30px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.contacts span {
    color: #005D45;
}

.contacts span:first-child {
    font-size: 24px;
}

.contacts span:nth-child(2) {
    font-size: 32px;
}

.inactive .cardText,
.inactive .cardText::after,
.inactive .location,
.inactive .contacts {
    display: none;
    opacity: 0;
    transition: 0.3s;
}

.inactive .keywords {
    flex-direction: column;
    text-align: center;
}

.inactive .cardGadgets {
    justify-content: center;
    align-items: center;
}