* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:991px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1500px;
    }
}

.heading {
    margin-bottom: 40px;
    margin-top: 80px;
    font-size: 3rem;
    color: #005D45;
    font-weight: 600;
}

nav>div.container {
    display: flex;
    align-items: center;
}

.contact-landing {
    position: relative;
    height: 600px;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url('../images/contact.jpg') lightgray 50% / cover no-repeat;
    border-radius: 25px;
}