* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:991px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1500px;
    }
}

.heading {
    margin-bottom: 40px;
    margin-top: 80px;
    font-size: 3rem;
    color: #005D45;
    font-weight: 600;
}

nav>div.container {
    display: flex;
    align-items: center;
}

.contact-landing {
    position: relative;
    height: 600px;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url('../images/contact.jpg') lightgray 50% / cover no-repeat;
    border-radius: 25px;
}

section {
    margin-bottom: 120px;
}

.page-header {
    padding: 24px 0;
    background: rgba(205, 240, 208, 0.50);
    color: #005D45;
    font-size: 18px;
}

.page-header p {
    display: flex;
    gap: 7px;
}

.page-header a {
    color: #005D45;
    text-decoration: none;
    transition: 0.3s;
}

.page-header a:hover {
    scale: 1.05;
}

.page-header span {
    color: #506660;
}

.page-header .head {
    color: #005D45;
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.page-header .head::before {
    content: '';
    width: 8px;
    height: 44px;
    border-radius: 100px 0px 0px 100px;
    background: #46C752;
}

.blog-landing {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}

.blog-header {
    color: #005D45;
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
    margin-top: 60px;
}

.blog-details {
    color: #668079;
    font-size: 12px;
    margin-bottom: 30px;
}

.blog-details>div {
    display: flex;
    align-items: center;
    gap: 7px;
}

.blog-icon {
    display: inline-block;
    width: 12px;
    fill: #668079;
}